body {
    background-image: url('../images/background.jpg');
    background-size: cover;
    text-align: center;
}

h1 {
    font-size: 45px;
    margin-top: 10px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 20px;
    margin-top: 20px;
}

input {
    display: block;
    margin-left: 50%;
}

.card {
    background-color: lightgreen;
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 15px;
    margin-top: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
}

img {
    height: 300px;
    width: 500px;
    margin-top: 10px;
}

.card:hover {
    background-color: greenyellow;
}

#answers {
    text-align: center;
}

#mainContent {
    background-color: darkolivegreen;
    border: solid 2px gold;
    margin-top: 80px;
    margin-left: 20%;
    margin-right: 20%;
    height: 500px;
}